.task {
    margin-bottom: 20px;
}


button {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: green;
    border-radius: 6px;
    background: green;
    transition: 0.3s;
}